<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmday.orders.OrdersMapper">

  <select id="findUserInfoForOrder" parameterType="String" resultType="com.farmday.orders.UsersDTO">
    select 
      u.user_no,u.role,u.userid,u.addr,u.name,u.phone,u.phone_verified,u.email,u.email_verified,u.birth,u.gender,u.photo,u.created_date,u.updated_date,u.is_blocked,u.points,
      m.grade_code,m.grade_name user_grade,
      mg.point_rate
    from 
      users u, user_membership m, membership_grade mg
    where 
      u.userid=#{user_id} 
      and u.user_no=m.user_no
      and m.grade_code=mg.grade_code
  </select>

  <select id="findUserPoints" parameterType="String" resultType="int">
    select points from users where userid=#{user_id}
  </select>
  
  <select id="findUserMembershipInfo" parameterType="String" resultType="String">
    select m.grade_code
    from user_membership m, users u
    where u.userid=#{user_id} and u.user_no=m.user_no
  </select>

  <select id="findMembershipGradeInfo" parameterType="String" resultType="com.farmday.mypage.MembershipGradeDTO">
    select * from membership_grade where grade_code=#{grade_code}
  </select>

  <select id="findOrdersByOrderId" parameterType="int" resultType="com.farmday.orders.OrdersDTO">
    select * from orders where order_id=#{order_id}
  </select>

  <select id="findOrdersByTossOrderId" parameterType="String" resultType="com.farmday.orders.OrdersDTO">
    select * from orders where toss_orderid=#{toss_orderid}
  </select>

  <select id="findOrdersItemById" parameterType="int" resultType="com.farmday.orders.OrdersItemDTO">
    select 
      oi.*, p.main_image, o.user_id
    from 
      orders_item oi, product p, orders o
    where 
      oi.order_item_id=#{order_item_id} 
      and oi.product_id=p.product_id
      and oi.order_id=o.order_id
  </select>



  <insert id="insertOrders" parameterType="com.farmday.orders.OrdersDTO">
    insert into orders
      (order_id,user_id,order_status,product_total_amount,shipping_fee,discount_amount,order_total_amount,receiver_name,receiver_phone,receiver_addr,delivery_message,order_type,group_deal_id,toss_orderid,toss_paymentkey,used_points)
    values
      (ORDERS_SEQ.NEXTVAL,#{user_id},#{order_status},#{product_total_amount},#{shipping_fee},#{discount_amount},#{order_total_amount},#{receiver_name},#{receiver_phone},#{receiver_addr},#{delivery_message},#{order_type},null,#{toss_orderid},#{toss_paymentkey},#{used_points})
  </insert>

  <insert id="insertOrdersItem" parameterType="com.farmday.orders.OrdersItemDTO">
    insert into orders_Item
      (order_item_id,order_id,product_id,product_name,group_deal_id,price_at_order,quantity,line_total_amount)
    values
      (ORDERS_ITEM_SEQ.NEXTVAL,
      #{order_id},
      NULLIF(#{product_id}, 0),
      #{product_name},
      NULLIF(#{group_deal_id}, 0),
      #{price_at_order},
      #{quantity},
      #{line_total_amount})
  </insert>

  <insert id="insertOrdersItemIntoDelivery" parameterType="com.farmday.orders.OrdersItemDTO">
    insert into delivery
      (order_item_id,delivery_status)
    values
      (#{order_item_id},#{delivery_status})
  </insert>

  <update id="updateUserPoints" parameterType="java.util.Map">
    update users set
      points=#{points}
    where userid=#{user_id}
  </update>


  <select id="findProductStockQty" parameterType="int" resultType="int">
    select stock_qty from product_detail where product_id=#{product_id}
  </select>

  <update id="updateProductAmount" parameterType="java.util.Map">
    update product_detail set
      stock_qty=stock_qty+#{stock_qty}
    <![CDATA[
      where product_id=#{product_id} and stock_qty+#{stock_qty}>=0
    ]]>
  </update>




  <select id="findAllOrdersByUserId" parameterType="String" resultType="com.farmday.orders.OrdersDTO">
    select * from orders where user_id=#{user_id} and order_type='normal' order by order_id desc
  </select>

  <select id="findAllGroupDealOrdersByUserId" parameterType="String" resultType="com.farmday.orders.OrdersDTO">
    select * from orders where user_id=#{user_id} and order_type='groupdeal' order by order_id desc
  </select>

  <select id="findOrdersItemByOrderId" parameterType="int" resultType="com.farmday.orders.OrdersItemDTO">
    select 
      o.*, 
      p.main_image,
      pd.grade,pd.unit_name,pd.origin_region,
      d.delivery_status,
      s.store_name,
      od.toss_orderid
    from 
      orders_item o, product p, product_detail pd, delivery d, store s, orders od
    where 
      o.order_id = #{order_id}
      and o.product_id = p.product_id
      and o.product_id = pd.product_id
      and p.producer_id = s.producer_id
      and o.order_id = od.order_id
      and o.order_item_id = d.order_item_id(+)
    order by o.line_total_amount desc
  </select>


  <select id="findOrderItemIdOfGroupDealOrder" parameterType="int" resultType="int">
    select order_item_id from orders_item where order_id=#{order_id}
  </select>



  <select id="findGroupDealItemByOrderId" parameterType="int" resultType="com.farmday.orders.OrdersItemDTO">
    select 
      oi.*, d.delivery_status 
    from 
      orders_item oi, delivery d
    where 
      oi.order_id=#{order_id}
      and oi.order_item_id=d.order_item_id(+)
  </select>



  <insert id="insertOrdersItemIntoCancel" parameterType="com.farmday.mypage.OrdersCanceledDTO">
    insert into orders_canceled
      (orders_canceled_id,user_id,order_item_id,product_id,cancel_reason,refund_amount)
    values
      (ORDERS_CANCELED_SEQ.NEXTVAL,#{user_id},#{order_item_id},#{product_id},#{cancel_reason},#{refund_amount})
  </insert>

  <update id="changeOrdersItemStatus" parameterType="java.util.Map">
    update orders_item set
      order_status=#{order_status}
    where order_item_id=#{order_item_id}
  </update>

  <update id="changeDeliveryStatus" parameterType="java.util.Map">
    update delivery set
      delivery_status=#{delivery_status}
    where order_item_id=#{order_item_id}
  </update>

  
  <select id="findTotalCanceledAmountByOrderId" parameterType="int" resultType="int">
    select NVL(SUM(line_total_amount), 0) AS total_canceled from (
      select line_total_amount from orders_item where order_id=#{order_id} and order_item_id in (
        select order_item_id from orders_canceled
      )
    )
  </select>
    
  <update id="chargeShippingFeeAfterCancel" parameterType="java.util.Map">
    update orders set
      shipping_fee=shipping_fee+#{shipping_fee},
      order_total_amount=order_total_amount+#{shipping_fee}
    where order_id=#{order_id}
  </update>


  <select id="findOrdersImgListByOrderId" parameterType="int" resultType="com.farmday.orders.OrdersImgListDTO">
    select 
      p.product_id, p.main_image
    from 
      orders_item oi, product p
    where 
      oi.order_id=#{order_id}
      and oi.product_id=p.product_id 
    order by oi.order_item_id
  </select>

  <!-- 민아 - 리뷰 작성 시 적립금 -->
  <select id="findUserNoByOrderItemId" resultType="long">
      SELECT u.user_no
      FROM ORDERS o
      JOIN ORDERS_ITEM oi ON o.order_id = oi.order_id
      JOIN USERS u ON o.user_id = u.userId
      WHERE oi.order_item_id = #{order_item_id}
  </select>

</mapper>
