@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.cart {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none; /* 왜: WebKit 스피너 제거 */
  margin: 0;
}

.numberInput[type="number"] {
  -moz-appearance: textfield; /* 왜: Firefox 스피너 제거 */
  appearance: textfield;      /* 왜: 표준화된 외형 제거 시도(보강) */
}

.to-shop-btn {
  border: 1px solid #ffb524;
  border-radius: 5px;
  padding: 7px 14px 7px 14px;
  background-color: white;
  font-weight: 600;
  transition: 0.2s;
  color: #75af09;
}

.to-shop-btn:hover {
  background-color: #9be90b;
  color: white;
  border-color: #9be90b;
}